@model ProductModel

<form method="post" asp-area="Product" asp-controller="Home" asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input type="text" asp-for="Description" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Count">Count</label>
        <input type="number" asp-for="Count" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input type="number" asp-for="Price" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>