@model ProductModel

<form method="post" asp-area="Product" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name">Email address</label>
        <input type="text" asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Description">Email address</label>
        <input type="text" asp-for="Description" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Count">Email address</label>
        <input type="number" asp-for="Count" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Price">Email address</label>
        <input type="number" asp-for="Price" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>